.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
# static/js/vendor.dll.js
temp/
# config/index.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln